<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Logged in as [[${#httpServletRequest.remoteUser}]]</title>
    <script src="script/jquery-3.3.1.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1 th:utext="'Transaction History of ' + ${accountNo}">Transaction History of Your Account</h1>
<table style="">
    <thead>
    <tr>
        <th>From Account</th>
        <th>To Account</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Pending</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${transactions.empty}">
        <td colspan="2">No Transactions Available</td>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td><span th:text="${transaction.fromAccount}">From Account</span></td>
        <td><span th:text="${transaction.toAccount}">To Account</span></td>
        <td><span th:text="${transaction.amount}">Amount</span></td>
        <td><span th:text="${transaction.currency}">Currency</span></td>
        <td><span th:text="${!transaction.executed}">Pending</span></td>
        <td><span th:text="${transaction.note}">Note</span></td>
    </tr>
    </tbody>
</table>
<a href="/">back home</a>
</body>
</html>