<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Logged in as [[${#httpServletRequest.remoteUser}]]</title>
    <script src="script/jquery-3.3.1.js"></script>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
your accounts:
<div th:each="accountId : ${accountIds}" >
<script th:inline="javascript">
/*<![CDATA[*/
    var accountId = /*[[${accountId}]]*/ 'default';
    console.log('accountId : ' + accountId);
    $(document).ready(function() {
        $.ajax({
            url: "/account/" + accountId
        }).then(function(data) {
            var accountRow = '<tr><td><a href="/history?accountNo='
                + data.accountNo + '">'
                + data.accountNo +'</a></td><td>'
                + data.balance +'</td><td>'
                + data.currency +'</td></tr>';
            $('#accountsTable  > tbody:last-child').append(accountRow);
        });
    });
/*]]>*/
</script>
    <!--<form th:action="@{/account/} + ${accountId}" method="GET" target="balance">>-->
        <!--<input type="submit" value="Get Balance"/>-->
    <!--</form>-->
</div>
<table id="accountsTable">
    <tbody>
    </tbody>
</table>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>a