<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XML payloads for XXE demo</title>
</head>
<body>
<a href="/xml/transactions.xml">transactions.xml: Normal payload</a><br/>
<a href="/xml/xxe_standard.xml">xxe_standard.xml: XEE payload calling a service</a><br/>
<a href="/xml/xxe_out-of-band.xml">xxe_out-of-band.xml: XXE payload calling a service and returning results out of band</a><br/>
<br/>
<br/>
<a href="/xml/xxe_billion_laughs.xml">xxe_billion_laughs.xml: Billion laughs payload</a><br/>
</body>
</html>